@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--button-hover: hsl(95, 91%, 87%);
	--white: hsl(0, 0%, 100%);
	--button: hsl(0, 0%, 20%);
	--bg-profil: hsl(0, 0%, 12%);
	--bg-main: hsl(114, 75%, 92%);
}

* {
	margin: 0;
	font-family: "Inter", sans-serif;
	color: var(--white);
}

body {
	background-color: var(--bg-main);
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-profil);
	border-radius: 10px;
	margin: 80px 20px;
	padding: 20px;
}

.imageProfile {
	width: 100px;
	border-radius: 50%;
	margin-bottom: 30px;
}

h1 {
	font-size: 24px;
	color: #42912e;
}

p {
	font-size: 14px;
}

.locationProfile {
	margin-top: 10px;
	margin-bottom: 30px;
}

.textProfile {
	text-align: center;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	margin-top: 30px;
}

.links a {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	background-color: var(--button);
	border-radius: 10px;
	padding: 15px 0;
}

.links a:hover,
.links a:focus {
	color: #42912e;
	background-color: var(--button-hover);
}

footer {
	padding-bottom: 20px;
}

footer p {
	font-size: 12px;
	text-align: center;
	color: black;
}

@media (min-width: 768px) {
	.profile {
		margin: 100px auto;
		width: 350px;
		padding: 40px;
	}
}
